//banner
.hp-banner{
    position: relative;
}
.owl-dots{
    position: absolute;
    bottom: 35px;
    width: 15px;
    height: 15px;
    background:transparent;
    left: 48%;
    display: flex;
}

.hp-banner-slide-one{
    background-image: url(../../../../assets/images/slider-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 538px;
    border-radius: 35px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
.hp-banner-slide-two{
    background-image: url(../../../../assets/images/slider-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 538px;
    border-radius: 35px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.hp-banner-content{
    padding-left: 100px;
    h1{
        font-size: 72px;
        margin-bottom: 40px;
        color: $blue-dark;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;

    }
    p{
        font-size: 30px;
        margin-bottom: 65px;
        color: $gray;
        font-family: 'Lato', sans-serif;
    }
    form{
        background-color: white;
        border-radius: 35px;
        max-width: 450px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        i{
            padding-left: 20px;
        }
        input{
            border: none;
            border-radius: 35px;
            padding: 15px;
            font-size: 18px;
            font-family: 'Lato', sans-serif;
            &:focus{
                outline: none;
            }
        }
        button{
            background-color: $green;
            border: none;
            border-radius: 35px;
            padding: 15px 40px;
            font-size: 18px;
            font-family: 'Quicksand', sans-serif;
            color: white;
            &:focus{
                outline: none;
            }
        }
    }
}

//Featured Categories
.hp-categories{
    display: flex;
    align-items: flex-end;
    column-gap: 20px;
    padding: 30px 0 30px 15px;
    h2{
        font-size: 32px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        color: $blue-dark;
    }
    a{
        font-size: 16px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        color: $blue-dark;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover{
            color: $green;
            transform: translateY(-3px);
        }
    }
}
.hp-categories-carousel{
    margin: 0 15px 15px;
    position: relative;
    .owl-nav{
        position: absolute;
        top: -80px;
        right: 25px;
        display: flex !important;
        button{
            background-color: transparent;
            border: none;
            cursor: pointer;
            width: 45px;
            height: 45px;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            border-radius: 50% !important;
            transition: 0.3s ease-in-out !important;
            &:hover{
                background-color: $green !important;
            }
            span{
                font-size: 36px !important;
                margin-bottom: 5px !important;
            }
        }
    }
}

.hp-categories-card{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 127px;
    height: 180px;
    img{
        max-width: 80px;
        margin-bottom: 15px;
        transition: 0.3 ease-in-out;
        &:hover{
            transform: scale(1.05);
        }
    }
    a{
        font-size: 16px;
        font-family: 'Quicksand', sans-serif;
        color: $blue-dark;
        font-weight: 600;
    }
    p{
        font-size: 14px;
        font-family: 'Lato', sans-serif;
        color: $gray;
    }
}
.cat-1{
    background-color: #FFF3FF;
}
.cat-2{
    background-color: #F2FCE4;
}
.cat-3{
    background-color: #FEEFEA;
}
.cat-4{
    background-color: #FFFCEB;
}
.hp-categories-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    .card1{
        background-image: url(../../../../assets/images/banner-1.png);
    }
    .card2{
        background-image: url(../../../../assets/images/banner-2.png);
    }
    .card3{
        background-image: url(../../../../assets/images/banner-3.png);
    }
    .hp-categories-bottom-card{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
        height: 280px;
        margin: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 75px;
        h4{
            font-size: 24px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            color: $blue-dark;
            transition: 0.3s ease-in-out;
            margin-bottom: 30px;
            &:hover{
                transform: translateY(-3px);
            }
        }
        a{
            width: 100px;
            font-size: 12px;
            font-family: 'Quicksand', sans-serif;
            color: white;
            font-weight: 600;
            transition: 0.3s ease-in-out;
            background-color: $green;
            padding: 10px;
            border-radius: 5px;
            i{
                margin-left: 8px;
                transition: 0.3s ease-in-out;
            }
            &:hover{
                background-color: orange;
                padding-right: 15px;
                i{
                    transform: translateX(3px);
                }
            }
        }
    }
}

//Popular Products
.hp-popular-products{
    padding: 15px;
}
.hp-popular-products-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
        font-size: 32px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        color: $blue-dark;
    }
    a{
        font-size: 16px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        color: $blue-dark;
        cursor: pointer;
        margin-left: 15px;
        transition: 0.3s ease-in-out;
        &:hover{
            color: $green;
            transform: translateY(-3px);
        }
    }
}
.hp-product-card{
    position: relative;
    border-radius: 15px;
    padding: 10px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    border: 1px solid $gray-light;
    transition: 0.3s ease-in-out;
    &:hover{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border: 1px solid $green;
        .product-img{
            opacity: 0;
            transform: scale3d(1.05, 1.05, 1.05) translateZ(0);
        }
    }
    span{
        position: absolute;
        padding: 5px 20px;
        top: 0;
        left: 0;
        background-color: #f74b81;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        color: white;
        z-index: 11;
    }
    .product-img{
        width: 225px;
        z-index: 10;
    }
    .hover-img{
        position: absolute;
        width: 225px;
    }
    a{
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        color: #ADADAD;
        font-weight: 400;
        margin-top: 15px;
    }
    h4{
        a{
            font-size: 16px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            color: $blue-dark;
            transition: 0.3s ease-in-out;
            &:hover{
                color: $green;
            }
        }
    }
    .hp-product-stars{
        display: flex;
        margin-top: 15px;
        i{
            color: orange;
            font-size: 12px;
        }
        p{
            margin-left: 5px;
            font-size: 12px;
            font-family: 'Lato', sans-serif;
            color: $gray;
        }
    }
    .productor{
        font-size: 14px;
        color: #ADADAD;
        font-family: 'Lato', sans-serif;
        a{
            font-size: 14px;
            font-family: 'Lato', sans-serif;
            color: $green;
            font-weight: 400;
            transition: 0.3s ease-in-out;
            &:hover{
                color: orange;
            }
        }
    }
    .price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        p{
            font-size: 18px;
            font-family: 'Quicksand', sans-serif;
            color: $green;
            font-weight: 700;
            margin-top: 15px;
        }
        button{
            border: none;
            font-size: 14px;
            font-family: 'Lato', sans-serif;
            color: $green;
            background-color: #DEF9EC;
            padding: 10px;
            border-radius: 5px;
            transition: 0.3s ease-in-out;
            &:hover{
                background-color: $green;
                color: white;
            }
            i{
                margin-right: 5px;
            }
        }
    }
}

//Best Sells
.hp-best-sells{
    padding: 15px;
    .hp-best-sells-banner{
        background-image: url(../../../../assets/images/banner-4.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 520px;
        width: 355px;
        border-radius: 15px;
        margin: 50px 0 15px 0;
        display: flex;
        flex-direction: column;
        h4{
            font-size: 40px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            color: $blue-dark;
            margin: 50px 0 100px 50px;
        }
        a{
            margin: 0 0 0 50px;
            width: 100px;
            font-size: 12px;
            font-family: 'Quicksand', sans-serif;
            color: white;
            font-weight: 600;
            transition: 0.3s ease-in-out;
            background-color: $green;
            padding: 10px;
            border-radius: 5px;
            i{
                margin-left: 8px;
                transition: 0.3s ease-in-out;
            }
            &:hover{
                background-color: orange;
                padding-right: 15px;
                i{
                    transform: translateX(3px);
                }
            }
        }
    }
    .hp-best-sells-content{
        display: flex;
        align-items: center;
    }
}
.hp-best-sells-carousel{
    width: calc(100% - 400px);
    margin-left: 15px;
    margin-top: 30px;
}
.hp-best-sells-card{
    overflow: hidden;
    position: relative;
    height: 520px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid $gray-light;
    transition: 0.3s ease-in-out;
    &:hover{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border: 1px solid $green;
        .product-img{
            opacity: 0;
            transform: scale3d(1.05, 1.05, 1.05) translateZ(0);
        }
    }
    span{
        position: absolute;
        padding: 5px 20px;
        top: 0;
        left: 0;
        background-color: #f74b81;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        color: white;
        z-index: 11;
    }
    .product-img{
        width: 225px;
        z-index: 10;
    }
    .hover-img{
        position: absolute;
        width: 225px;
    }
    a{
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        color: #ADADAD;
        font-weight: 400;
        margin-top: 15px;
        z-index: 11;
    }
    h4{
        a{
            font-size: 16px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            color: $blue-dark;
            transition: 0.3s ease-in-out;
            &:hover{
                color: $green;
            }
        }
    }
    .hp-product-stars{
        display: flex;
        margin-top: 15px;
        i{
            color: orange;
            font-size: 12px;
        }
    }
    .price{
        font-size: 18px;
        font-family: 'Quicksand', sans-serif;
        color: $green;
        font-weight: 700;
        margin-top: 15px;
    }
    .stocks-graphic{
        width: 100%;
        height: 5px;
        background-color: $gray-light;
        border-radius: 5px;
        margin-top: 15px;
        margin-bottom: 10px;
        div{
            width: 70%;
            height: 5px;
            background-color: $green;
            border-radius: 5px;
        }
    }
    .stocks-numeral{
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        color: black;
        font-weight: 400;
        margin-bottom: 10px;
    }
    button{
        border: none;
        font-size: 14px;
        font-family: 'Lato', sans-serif;
        color: white;
        background-color: $green;
        padding: 10px;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        &:hover{
            background-color: orange;
            color: white;
            transform: translateY(-3px);
        }
        i{
            margin-right: 5px;
        }
    }
}

//Deals
.hp-deals{
    padding: 15px;
}
.hp-deals-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
        font-size: 32px;
        font-family: 'Quicksand', sans-serif;
        color: $blue-dark;
        font-weight: 700;
    }
    a{
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        color: $gray;
        font-weight: 400;
        transition: 0.3s ease-in-out;
        &:hover{
            color: $green;
        }
    }
    
}
.hp-deals-content{
    margin-top: 30px;
    column-gap: 25px;
    margin-bottom: 150px;
}
.deals-banner1{
    background-image: url(../../../../assets/images/banner-5.png);
}
.deals-banner2{
    background-image: url(../../../../assets/images/banner-6.png);
}
.deals-banner3{
    background-image: url(../../../../assets/images/banner-7.png);
}
.deals-banner4{
    background-image: url(../../../../assets/images/banner-8.png);
}
.hp-deals-item{
    height: 315px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.hp-deals-card{
    margin-top: 165px;
    z-index: 11;
    transition: 0.3s ease-in-out;
    &:hover{
        transform: translateY(-5px);
    }
    .hp-deals-card-time-holder{
        column-gap: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 30px;
        .deals-time{
            background-color: white;
            border-radius: 5px;
            height: 60px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            span{
                font-size: 18px;
                font-family: 'Lato', sans-serif;
                color: $green;
                font-weight: 700;
                transition: 0.3s ease-in-out;
                &:hover{
                    transform: translateY(-3px);
                }
            }
            p{
                font-size: 12px;
                font-family: 'Lato', sans-serif;
                color: $gray;
                font-weight: 400;
            }
        }
    }
    .hp-deals-card-content{
        border-radius: 15px;
        padding: 10px;
        margin: 25px;
        display: flex;
        flex-direction: column;
        background-color: white;
        z-index: 20;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        h4{
            a{
                font-size: 16px;
                font-family: 'Quicksand', sans-serif;
                font-weight: 700;
                color: $blue-dark;
                transition: 0.3s ease-in-out;
                &:hover{
                    color: $green;
                }
            }
        }
        .hp-product-stars{
            display: flex;
            margin-top: 15px;
            i{
                color: orange;
                font-size: 12px;
            }
            p{
                margin-left: 5px;
                font-size: 12px;
                font-family: 'Lato', sans-serif;
                color: $gray;
            }
        }
        .productor{
            font-size: 14px;
            color: #ADADAD;
            font-family: 'Lato', sans-serif;
            a{
                font-size: 14px;
                font-family: 'Lato', sans-serif;
                color: $green;
                font-weight: 400;
                transition: 0.3s ease-in-out;
                &:hover{
                    color: orange;
                }
            }
        }
        .price{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            p{
                font-size: 18px;
                font-family: 'Quicksand', sans-serif;
                color: $green;
                font-weight: 700;
                margin-top: 15px;
            }
            button{
                border: none;
                font-size: 14px;
                font-family: 'Lato', sans-serif;
                color: $green;
                background-color: #DEF9EC;
                padding: 10px;
                border-radius: 5px;
                transition: 0.3s ease-in-out;
                &:hover{
                    background-color: $green;
                    color: white;
                }
                i{
                    margin-right: 5px;
                }
            }
        }
    }
}