.homepage-header {
    padding: 0;
    margin: 0;
}
.header-top {
    padding: 10px;
    border-bottom: 1px solid $gray-light;
    display: flex;
    justify-content: space-between;
}
.header-top-left {
    ul {
        display: flex;
        li {
            transition: 0.3s ease-in-out;
            a {
                color: $gray;
                font-size: 13px;
                font-weight: 400;
                font-family: "Lato", sans-serif;
            }
            padding: 0 10px 0 10px;
            &:not(:last-child) {
                border-right: 1px solid $gray-light;
            }
            &:hover {
                a {
                    color: black;
                }
            }
        }
    }
}
.header-top-mid {
    p {
        font-family: "Lato", sans-serif;
        font-size: 13px;
        font-weight: 700;
        color: $gray;
    }
}
.header-top-right {
    display: flex;
    p {
        font-family: "Lato", sans-serif;
        font-size: 13px;
        font-weight: 500;
        color: $gray;
        padding: 0 10px 0 10px;
        border-right: 1px solid $gray-light;
        span {
            color: $green;
        }
    }
}
.header-top-dropdown-btn {
    position: relative;
    background-color: white;
    padding: 0 10px 0 10px;
    &:not(:last-child) {
        border-right: 1px solid $gray-light;
    }
    button {
        background-color: white;
        font-family: "Lato", sans-serif;
        color: $gray;
        border: none;
        font-size: 13px;
        font-weight: 400;
        i {
            margin-left: 5px;
        }
    }
    .header-top-dropdown-content {
        position: absolute;
        top: 25px;
        right: 0px;
        a {
            display: flex;
            align-items: center;
            column-gap: 5px;
            color: $gray;
            font-family: "Lato", sans-serif;
            font-size: 13px;
        }
    }
}

.header-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px;
    border-bottom: 1px solid $gray-light;
}
.search-container{
    border: 2px solid $green;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    // max-width: 700px;
    .search-dropdown-btn{
        position: relative;
        display: flex;
        align-items: center;
        background-color: white;
        color: #253D4E;
        font-size: 14px;
        padding: 0 10px 0 10px;
        border-right: 1px solid $gray-light;
        i{
            margin-left: 5px;
        }
    }
    .search-dropdown-content{
        height: 300px;
        overflow-y: scroll;
        border-radius: 5px;
        input{
            margin: 10px;
            border: 1px solid $green;
            border-radius: 5px;
            padding: 8px;
            &:focus{
                outline: none;
            }
        }
        a{
            font-size: 14px;
            color: $gray;
        }
    }
    form{
        margin-left: 10px;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        // width: 100%;
    }
    .search{
        border: none;
        font-size: 13px;
        font-weight: 400;
        color: $gray;
        // width: 100%;
    }
    .search-btn{
        background-color: transparent;
        border: none;
        color: $gray;
    }
}
.header-bottom-right{
    display: flex;
    .header-bottom-item{
        display: flex;
        position: relative;
        span{
            position: absolute;
            border-radius: 50%;
            background-color: $green;
            color: white;
            font-size: 12px;
            text-align: center;
            width: 18px;
            height: 18px;
            top: -8px;
            left: 15px;
        }
        p{
            padding: 0 20px 0 10px;
            font-size: 16px;
            color: $gray;
        }
    }
}
