.path{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 25px 15px;
    column-gap: 10px;
    border-bottom: 1px solid $gray-light;
    i{
        color: $gray;
        font-size: 14px;
    }
    a{
        font-size: 14px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        color: $gray;
        display: flex;
        align-items: center;
        column-gap: 10px;
        &:first-child{
            color: $green;
            transition: 0.3s ease-in-out;
            i{
                color: $green;
                transition: 0.3s ease-in-out;

            }
            &:hover{
                color: orange;
                i{
                    color: orange;
                }
            }
        }
    }
        
}

.welcome{
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding: 45px 0;
}
.welcome-big-img{
    img{
        width: 100%;
        border-radius: 15px;
        
    }
}
.welcome-text{
    h2{
        font-size: 40px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        color: $blue-dark;
        margin-bottom: 30px;
    }
    p{
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: $gray;
        margin: 0 0 25px;
    }
}
.welcome-carousel{
    position: relative;
    column-gap: 15px;
    div{
        img{
            width: 180px;
        }
    }
}

.provide{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .provide-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 1px solid $gray-light;
        border-radius: 15px;
        row-gap: 25px;
        padding: 25px;
        text-align: center;
        margin: 0 0 15px;
        transition: 0.3s ease-in-out;
        &:hover{
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        img{
            width: 100px;
        }
        h4{
            font-size: 24px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            color: $blue-dark;
        }
        p{
            font-size: 17px;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            color: $gray;
        }
        a{
            font-size: 16px;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            color: $green;
            text-decoration: none;
            transition: 0.3s ease-in-out;
            &:hover{
                color: orange;
            }
        }
    }
}
.provide-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 40px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        color: $blue-dark;
        margin-bottom: 15px;
    }
    img{
        width: 150px;
        margin-bottom: 50px;
    }
}

.performance{
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding: 45px 0;
}
.performance-text{
    h3{
        font-size: 24px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        color: $gray;
        margin-bottom: 30px;
    }
    h2{
        font-size: 48px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        color: $blue-dark;
        margin-bottom: 30px;
    }
    p{
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: $gray;
        margin: 0 0 25px;
    }
}
.performance-bottom{
    display: flex;
    flex-wrap: wrap;
}
.performance-bottom-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    padding: 25px;
    h4{
        font-size: 32px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
    }
    p{
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: $gray;
    }
}
.about-banner{
    background-image: url(../images/about-9.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 315px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    row-gap: 20px;
    margin: 50px 12px 50px 0;
    border-radius: 25px;
    .pale-banner{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(100, 100, 100, 0.5);
        border-radius: 25px;
        z-index: 10;
    }
    .about-banner-item{
        z-index: 11;
        h6{
            font-size: 72px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            color: white;
        }
        p{
            font-size: 24px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            color: white;
        }
    }
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    flex-wrap: wrap;
    .team-content{
        display: flex;
        flex-wrap: wrap;
    }
    .team-text{
        h6{
            font-size: 16px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            color: $green;
        }
        h4{
            font-size: 48px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            color: $blue-dark;
            margin: 0 0 30px;
        }
        p{
            font-size: 16px;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            color: $gray;
            margin: 0 0 30px;

        }
        a{
            padding: 12px 30px;
            font-size: 14px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            color: white;
            background-color: $green;
            border-radius: 5px;
            transition: 0.3s ease-in-out;
            margin: 0 0 30px;
            &:hover{
                background-color: orange;
            }
        }
    }
    .team-item{
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            border-radius: 15px;
        }
        .team-item-info{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            padding: 25px 85px;
            border-radius: 15px;
            margin-top: -100px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            transition: 0.3s ease-in-out;
            &:hover{
                transform: translateY(-5px);
            }
            h5{
                font-size: 24px;
                font-family: 'Quicksand', sans-serif;
                font-weight: 700;
                color: $blue-dark;
                margin: 0 0 5px;
            }
            p{
                font-size: 17px;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                color: $gray;
                margin: 0 0 15px;
            }
            span{
                font-size: 16px;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                color: $green;
                i{
                    margin: 5px;
                }
            }
        }
    }
    
}