html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

li {
  list-style: none;
}

@font-face {
  font-family: 'Lato';
  src: url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
}

html, body {
  font-family: 'Lato', sans-serif;
}

.homepage-header {
  padding: 0;
  margin: 0;
}

.header-top {
  padding: 10px;
  border-bottom: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top-left ul li {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding: 0 10px 0 10px;
}

.header-top-left ul li a {
  color: #7E7E7E;
  font-size: 13px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.header-top-left ul li:not(:last-child) {
  border-right: 1px solid #ececec;
}

.header-top-left ul li:hover a {
  color: black;
}

.header-top-mid p {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #7E7E7E;
}

.header-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top-right p {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #7E7E7E;
  padding: 0 10px 0 10px;
  border-right: 1px solid #ececec;
}

.header-top-right p span {
  color: #3BB77E;
}

.header-top-dropdown-btn {
  position: relative;
  background-color: white;
  padding: 0 10px 0 10px;
}

.header-top-dropdown-btn:not(:last-child) {
  border-right: 1px solid #ececec;
}

.header-top-dropdown-btn button {
  background-color: white;
  font-family: "Lato", sans-serif;
  color: #7E7E7E;
  border: none;
  font-size: 13px;
  font-weight: 400;
}

.header-top-dropdown-btn button i {
  margin-left: 5px;
}

.header-top-dropdown-btn .header-top-dropdown-content {
  position: absolute;
  top: 25px;
  right: 0px;
}

.header-top-dropdown-btn .header-top-dropdown-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  color: #7E7E7E;
  font-family: "Lato", sans-serif;
  font-size: 13px;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 10px;
  border-bottom: 1px solid #ececec;
}

.search-container {
  border: 2px solid #3BB77E;
  padding: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-container .search-dropdown-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: #253D4E;
  font-size: 14px;
  padding: 0 10px 0 10px;
  border-right: 1px solid #ececec;
}

.search-container .search-dropdown-btn i {
  margin-left: 5px;
}

.search-container .search-dropdown-content {
  height: 300px;
  overflow-y: scroll;
  border-radius: 5px;
}

.search-container .search-dropdown-content input {
  margin: 10px;
  border: 1px solid #3BB77E;
  border-radius: 5px;
  padding: 8px;
}

.search-container .search-dropdown-content input:focus {
  outline: none;
}

.search-container .search-dropdown-content a {
  font-size: 14px;
  color: #7E7E7E;
}

.search-container form {
  margin-left: 10px;
}

.search-container .search {
  border: none;
  font-size: 13px;
  font-weight: 400;
  color: #7E7E7E;
}

.search-container .search-btn {
  background-color: transparent;
  border: none;
  color: #7E7E7E;
}

.header-bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-bottom-right .header-bottom-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header-bottom-right .header-bottom-item span {
  position: absolute;
  border-radius: 50%;
  background-color: #3BB77E;
  color: white;
  font-size: 12px;
  text-align: center;
  width: 18px;
  height: 18px;
  top: -8px;
  left: 15px;
}

.header-bottom-right .header-bottom-item p {
  padding: 0 20px 0 10px;
  font-size: 16px;
  color: #7E7E7E;
}
/*# sourceMappingURL=main.css.map */